.header {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2em;
  grid-column: 1 / span 1;
  margin-left: 22.5%;
  margin-top: 1%;
}

.country {
  object-fit: cover;
  grid-column: 3 / span 1;
  margin-left: 70%;
  margin-top: 4%;
  display: inline-block;
}

#thumbnail {
  height: 70%;
  width: 17%;
}

.angleDown {
  display: inline-block;
}